@media only screen and (max-width: 768px) {
    #b {
      width: 100%;
      
    }
    .col6, .col9 {
        width: 100%;
    }
    #e {
        width: 49%;
    }
    #f {
        width: 49%;
    }
    #g {
        width: 49%;
    }
    #h {
        width: 49%;
    }
  }
  .col12 {
    width: 100%; 
    /* width: 97%;  */
} 
.col6 { 
    width: 49%; 
   
}
.col3 {
   width: 24%;
   
}
.col9 {
   width: 74%;
}
.test {
   display: inline-block;
}